
<!DOCTYPE html>
<html>
  <head>
    <title>Infrastruktur som kode</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <script src="https://github.com/downloads/gnab/remark/remark-0.3.1.min.js" type="text/javascript">
      { "highlightStyle": "solarized_light" }
    </script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src="remark-bekk/lib/bekk.js" type="text/javascript"></script>

    <link href='http://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>

    <link rel="stylesheet/less" type="text/css" href="remark-bekk/lib/bekk.less">
    <script src="http://lesscss.googlecode.com/files/less-1.1.5.min.js" type="text/javascript"></script>

    <style>
      .greyscale img {
        -webkit-filter: grayscale(1);
      }

      .source {
        bottom: 12px;
        left: 20px;
        opacity: .5;
        position: absolute;
        font-size: 0.7em;
      }

      .source::before {
        content: "Kilde: ";
      }

      table {
        border-collapse: collapse;
      }

      th {
        font-weight: normal;
        text-align: left;
      }

      td,
      th {
        border: 5px solid #000;
        border-left-width: 20px;
        border-right-width: 20px;
        vertical-align: top;
      }

      th:first-child,
      td:first-child {
        border-left-width: 0;
      }

      th:last-child,
      td:last-child {
        border-right-width: 0;
      }

      td.has {
        background: rgba(253, 81, 88, .25);
        text-align: center;
      }

      td.has::after {
        font-weight: bold;
        content: "✓";
      }

      #slideshow .slide .content ol li,
      #slideshow .slide .content ul li {
        color: white;
      }

      #slideshow .slide .content.large code {
        font-size: 24px;
      }

      #slideshow .slide .content code {
        font-size: 20px;
      }

      #slideshow .slide .content.small code {
        font-size: 16px;
      }

      #slideshow .slide .content.middle.center h1 > span,
      #slideshow .slide .content.front-page h1 > span {
        padding: 0;
      }

      #slideshow .slide .content.middle.center.question h1,
      #slideshow .slide .content.middle.center.url h1 {
        color: #fff;
        font-style: normal;
        text-transform: none;
      }
      blockquote.text-quote {
	      font-style: italic;
		  margin-top: 35px;
		  margin-bottom: 10px;
		  margin-left: 25px;
		  padding-left: 15px;
		  border-left: 3px solid #ccc;
      }

    </style>
  </head>
  <body>
    <textarea id="source">

.front-page

# Infrastruktur som kode

## Software 2012 &mdash; 7. februar 2012

Ole Christian Rynning
&mdash;
<a href="http://twitter.com/olecr">@olecr</a>

Eivind Uggedal
&mdash;
<a href="http://twitter.com/uggedal">@uggedal</a>


---

.pushed.greyscale

![](images/hands.jpg)

.circle.red.top-right[Henda i været!]

.source[http://flic.kr/p/5Z9g8a]

---

.middle.center.question

# Jobber du med drift?

---

.middle.center.question

# Er du utvikler (eller arkitekt)?

---

.middle.center.question

# Begge deler? (devops)

---

.middle.center.question

# Deployer du til skyen?

---

.middle.center.question

# Har du opplevd rot/avvik i systemer eller miljøer (infrastruktur)?

---

.middle.center.question

# Har noen gang sagt applikasjonen funker <strike>på min maskin</strike> <strike>i TEST</strike>. PROD?

---

# Kort om oss 

## Eivind Uggedal

Programmerer, har administrert og automatisert flere populære nettløsninger, samt sin egen MacBookPro/Air med Puppet. Jobber til daglig i en stor norsk bank.

## Ole Christian Rynning

Programmerer med system- og infrastruktur-bakgrunn. Siste tre &aring;rene utviklet nye systemer og infrastruktur i Bring sitt utviklingsteam. 

---

# Agenda

* Infrastruktur som kode (Historisk blikk, Definisjon, Hvorfor?)
* Deklarativ konfigurasjonsstyring 
* En praktisk demonstrasjon 
* Litt om framtiden


---

# Historie

![](images/timeline.png)

---

# Behandle infrastruktur som kode

* Versjonskontroll av konfigurasjon
* Refactoring og kontinuerlig forbedring
* Inkrementell/evolusjonær arkitektur
* Test-drevet design
* Kjørbar og oppdatert dokumentasjon
* "Ren kode" for drift

---

# (Noen) forretningsverdier

* Reproduserbar infrastruktur
* Evolusjonær infrastruktur
* Økt uavhengighet til infrastruktur
* Enklere oversikt over miljøer

---

# Og ikke minst...

* Automatiserbar utrullingsplattform?
* Nedetidfri utrulling?
* Sømløs A/B-testing?
* Er vårt miljøregime utdatert?

---

.pushed.greyscale

![](images/cowboy.jpg)

# Mindre cowboy-virksomhet!

.source[http://flic.kr/p/6cdm8]

---

# Deklarativ konfigurasjonsstyring

<blockquote class="text-quote">
Konfigurasjonsstyringsverktøy er et sett av mindre verktøy som lar deg beskrive 
et oppsett av infrastruktur på en slik måte at konfigurasjonsverktøyet vil la deg
gjenopprette det identiske oppsettet fra **ethvert kjent startpunkt, og til enhver
kompatibel infrastruktur**.

Hvor et automatiseringsverktøy som scripting er **imperativt**, (gjør dette, 
så gjør dette), så pleier konfigurasjonsstyringsverkøy å være **deklarative**.

Med deklarativt oppsett, sier du for eksempel: "Jeg har en server og den kjører
MySQL databasen som denne brukeren.", så vil konfigurasjonsstyringsverktøyet
finne ut alle steg som skal til for å få denne påstanden til å bli sann.

&mdash; [Parafrasert, Jacob Kaplan-Moss]
</blockquote>

---

# Konfigurasjonsstyring

* Alle typiske konfigurasjonsfiler
* Som lar deg uttrykke avhengigheter:
  * Innenfor et system (én maskin)
  * Mellom systemer (maskiner)
  * Mellom maskiner og systemers tjenester
* Håndtere endringer i infrastruktur i sanntid

---

.cols.two

# Deklarativ konfigurasjonsstyring

* Deklarativ fremfor imperativ
* Automatiserer og orkestrerer infrastruktur
* Gjenskape et milj&oslash; fra forskjellige utgangspunkt

<div class="col">
Imperativt for Debian:

    .bash
    apt-get install vim

    echo "set nocp" >> /etc/vim/vimrc

Imperativt for RedHat:

    .bash
    yum install vim

    echo "set nocp" >> /etc/vim/vimrc
</div>

<div class="col">
Deklarativt uavhengig av OS:

    .ruby
    package { "vim":
      ensure => present,
    }

    file { "/etc/vim/vimrc":
      content => "set nocp",
    }
</div>

---

# Noen implementasjoner

<table>
  <tr>
    <th>
      &nbsp;
    <th>
      Puppet
    <th>
      Chef
    <th>
      Salt
  <tr>
    <td>
      Klient/tjener
    <td class="has">
      &nbsp;
    <td class="has">
      &nbsp;
    <td class="has">
      &nbsp;
  <tr>
    <td>
      Pull
    <td class="has">
      &nbsp;
    <td class="has">
      &nbsp;
    <td>
      &nbsp;
  <tr>
    <td>
      Push
    <td>
      &nbsp;
    <td>
      &nbsp;
    <td class="has">
      &nbsp;
  <tr>
    <td>
      Lokal modus
    <td class="has">
      &nbsp;
    <td class="has">
      &nbsp;
    <td>
      &nbsp;
  <tr>
    <td>
      Impl. spr&aring;k
    <td>
      Ruby
    <td>
      Ruby
    <td>
      Python
  <tr>
    <td>
      Bruksspr&aring;k
    <td>
      DSL/Ruby
    <td>
      Ruby
    <td>
      YAML+Jinja/Python
  <tr>
    <td>
      Avhengigheter klient
    <td>
      Ruby, Puppet, Facter
    <td>
      Ruby, Chef-client, Ohai
    <td>
      Python, Salt, &Oslash;MQ
  <tr>
    <td>
      Avhengigheter tjener
    <td>
      Ruby, Puppetmaster, Rails, (database)
    <td>
      Ruby, Chef-server, Merb, Thin, Java, Solr, RabbitMQ
    <td>
      Python, Salt, &Oslash;MQ
  <tr>
    <td>
      Utbredelse
    <td>
      Stor
    <td>
      Stor
    <td>
      Liten
</table>

---

# Sammenligning av bruk

## Usecase

1. Installer nginx.
2. Konfigurer en virtual host gitt parameterene:
    - `hostname`
    - `root`
3. Plasser en index.html fil med innhold i `root`.

---

# Manuell installasjon

    .bash
    apt-get install nginx

    vim /etc/nginx/sites-available/vhost.conf

    ln -s /etc/nginx/sites-available/vhost.conf \
      /etc/nginx/sites-enabled/vhost.conf

    rm /etc/nginx/sites-enabled/default

    /etc/init.d/nginx restart

    mkdir /var/www

    vim /var/www/index.html

---

.middle.center.url

# [manual.uggedal.com](http://manual.uggedal.com)

---

.large

# Puppet &mdash; nginx installasjon

    .ruby
    class nginx {
      package { "nginx":
        ensure => present
      }

      service { "nginx":
        ensure => running,
        enable => true,
        require => Package["nginx"],
      }

      file { "/etc/nginx/sites-enabled/default":
        ensure => absent,
        notify => Service["nginx"],
      }
    }

---

# Puppet &mdash; generisk nginx vhost

    .ruby
    define nginx::site($root) {
      $hostname = $name

      file {
        "/etc/nginx/sites-available/${hostname}.conf":
          content => template("nginx/site.conf.erb"),
          require => Package["nginx"],
          notify => Service["nginx"];

        "/etc/nginx/sites-enabled/${hostname}.conf":
          ensure => link,
          target => "/etc/nginx/sites-available/${hostname}.conf",
          require => File["/etc/nginx/sites-available/${hostname}.conf"],
          notify => Service["nginx"];
      }
    }

---

.large

# Puppet &mdash; template

    server {
      listen 80;
      server_name <%= hostname %>;

      root <%= root %>;

      access_log  /var/log/nginx/<%= hostname %>.access.log;

      index  index.html;
    }

---

.large

# Puppet &mdash; konfigurere vhost og filer

    .ruby
    class hello($root="/var/www") {
      include nginx

      nginx::site { "puppet.uggedal.com":
        root => $root,
      }

      file {
        $root:
          ensure => directory;

        "${root}/index.html":
          source => "puppet:///modules/hello/index.html",
          require => File[$root];
      }
    }

---

.middle.center.url

# [puppet.uggedal.com](http://puppet.uggedal.com)

---

.large

# Chef &mdash; nginx installasjon

    .ruby
    package "nginx"

    service "nginx" do
      supports :status => true, :restart => true
      action [ :enable, :start ]
    end

    file "/etc/nginx/sites-enabled/default" do
      action :delete
      notifies :restart, resources(:service => "nginx")
    end

---

# Chef &mdash; generisk nginx vhost

    .ruby
    define :nginx_site, :root => "/dev/null" do

      template "/etc/nginx/sites-available/#{params[:name]}.conf" do
        source "site.conf.erb"
        variables(
          :hostname => params[:name],
          :root => params[:root]
        )
        cookbook "nginx"
      end

      link "/etc/nginx/sites-enabled/#{params[:name]}.conf" do
        to "/etc/nginx/sites-available/#{params[:name]}.conf"
        notifies :restart, resources(:service => "nginx")
      end

    end

---

.large

# Chef &mdash; template

    server {
      listen 80;
      server_name <%= @hostname %>;

      root <%= @root %>;

      access_log  /var/log/nginx/<%= @hostname %>.access.log;

      index  index.html;
    }

---

.large

# Chef &mdash; konfigurere vhost og filer

    .ruby
    nginx_site "chef.uggedal.com" do
      root "/var/www"
    end

    directory "/var/www" do
      mode "0755"
    end

    cookbook_file "/var/www/index.html" do
      source "index.html"
      mode "0644"
    end

---

.middle.center.url

# [chef.uggedal.com](http://chef.uggedal.com)

---

.large

# Salt &mdash; nginx installasjon

    .django
    nginx:
      pkg:
        - installed
      service:
        - running
        - require:
          - pkg: nginx
      file:
        - name: /etc/nginx/sites-enabled/default
        - absent
        - require:
          - pkg: nginx

---

# Salt &mdash; nginx vhost

    .django
    {% for hostname, root in [("salt.uggedal.com", "/var/www"),] %}
    /etc/nginx/sites-available/{{ hostname }}.conf:
      file:
        - managed
        - source: salt://nginx/site.conf
        - template: jinja
        - context: {
          hostname: "{{ hostname }}",
          root: "{{ root }}" }
        - require:
          - pkg: nginx

    /etc/nginx/sites-enabled/{{ hostname }}.conf:
      file:
        - symlink
        - target: /etc/nginx/sites-available/{{ hostname }}.conf
        - require:
          - file: /etc/nginx/sites-available/{{ hostname }}.conf

    extend:
      nginx:
        service:
          - watch:
            - file: /etc/nginx/sites-enabled/{{ hostname }}.conf
    {% endfor %}

---

.large

# Salt &mdash; template

    .django
    server {
      listen 80;
      server_name {{ hostname }};

      root {{ root }};

      access_log  /var/log/nginx/{{ hostname }}.access.log;

      index  index.html;
    }

---

.large

# Salt &mdash; konfigurere filer

    .django
    /var/www:
      file:
        - directory

    /var/www/index.html:
      file:
        - managed
        - source: salt://hello/index.html
        - require:
          - file: /var/www

---

.middle.center.url

# [salt.uggedal.com](http://salt.uggedal.com)

---

.middle.center

![](images/puppet-indeed.png)

---

# Native pakker

deb, rpm, ebuild, pkgsrc, pacman og lignende.

Flytte kompleksitet fra konfigurasjonsstyringsverkt&oslash;y til
pakkesystemer

FPM

---

# Testing av konfigurasjon

---

# Slides og kode

<a href="http://bekkopen.github.com/infrastruktur-som-kode">
  bekkopen.github.com/infrastruktur-som-kode
</a>

<a href="https://github.com/bekkopen/infrastruktur-som-kode">
  github.com/bekkopen/infrastruktur-som-kode
</a>

---

.pushed.greyscale

![](images/question.jpg)

.circle.red.top-right[Sp&oslashrsm&aring;l?]

.source[http://flic.kr/p/ubG6g]

    </textarea>
    <div id="slideshow"></div>
  </body>
</html>
